DATABASE_URL="postgresql://USUARIO:CONTRASEÑA@localhost:5432/bd_inventario?schema=public"
PORT=3002

# CORS Configuration
CORS_ORIGIN="http://localhost"
CORS_CREDENTIALS="true"

RPA_SERVICE_URL="url-servicio-rpa"

JWT_SECRET="tu-secreto-para-access-token"
JWT_REFRESH_SECRET="tu-secreto-para-refresh-token"

GROQ_API_KEY="key"